:root {
  --background-color: #bfdbfe;
  --secondary-background-color: #93c5fd;
  --text-color: #0f172a;
  --text-secondary-color: #1e3a5f;
  --text-link-color: #1d4ed8;
  --primary-color: #1d4ed8;
  --secondary-color: #93c5fd;

  --background-color-dark: #0f172a;
  --secondary-background-color-dark: #1e293b;
  --text-color-dark: #e4e6eb;
  --text-secondary-color-dark: #b0b3b8;
  --text-link-color-dark: #38bdf8;
  --primary-color-dark: #38bdf8;
  --secondary-color-dark: #1e293b;
}
 